{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
<div class="container px-0 my-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://unsplash.com/photos/nxMsxgKxFxA" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://unsplash.com/photos/bO6CH7IQLJo" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://unsplash.com/photos/NhJX41giJFs" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
</div>
{% endblock body %}