{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}

{% block body %}
<div class="form-group">
<form method="post" action="/contact/">
  {% csrf_token %}
  
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" name="fname" id="formGroupExampleInput" placeholder="Enter name here">


    <label for="formGroupExampleInput2">Phone</label>
    <input type="text" class="form-control" name="phone" id="formGroupExampleInput2"
      placeholder="Enter phone number here">


    <label for="formGroupExampleInput2">Email</label>
    <input type="text" class="form-control" name="email" id="formGroupExampleInput2" placeholder="Enter email here">

    <label for="exampleFormControlTextarea1">Query</label>
    <textarea class="form-control" name="query" id="exampleFormControlTextarea1" placeholder="Enter your query here"
      rows="3"></textarea>



    <button type="submit" class="btn btn-primary mb-2">Submit</button>

  </form>
</div>
{% endblock body %}